---
---
:root {
    --text-color: #2A2A2A;
    --background-color: #FFF;

    --href-color: #2200CC;
    --href-hover: var(--href-color);
    --href-active: var(--href-color);
    --href-visited: #4C2C92;

    --accent-color: #D9376E;
    --table-bg-color: #FFF;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #21242b;
        --text-color: #abb2bf;

        --href-color: #4AA4ED;
        --href-hover: #4AA4ED;

        --table-bg-color: #282c34;
    }
}

body, html {
    font-size: 1em; /* 16px */
}

body {
    font: 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--href-color);
    text-decoration: none;

    &:hover {
        color: var(--href-hover);
        cursor: pointer;
        text-decoration: underline;
    }
}

ul {
    &.unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &.inline li {
        display: inline-block;
    }
}

main {
    padding: 1.5rem;
    max-width: 48rem;
}

table {
    width: 100%;
    text-align: left;

    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--accent-color);
    background-color: var(--table-bg-color);

    th, td {
        padding: 0.125em 0.5em 0.25em 0.5em;
        border: none;
    }

    th {
        border-bottom: 1px solid var(--accent-color);
    }

    tbody tr:nth-child(odd) {
        background-color: var(--background-color);
    }
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.alert {
    border-width: 1px;
    border-style: solid;
    padding: 4px;

    &.info {
        border-color: #b8daff;
        background-color: #cce5ff30;
    }
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--accent-color);
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  font-style: italic;
}

blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: var(--accent-color);
}

.date {
    padding-right: 10px;
    font-family: Inconsolata,Monaco,Consolas,monospace;
}

.highlight pre {
    padding: 12px;
    font-size: 1em;
    line-height: 1.3em;
    border-radius: 8px;
    font-family: Inconsolata,Monaco,Consolas,monospace;
}

dl.side-by-side {
    display: flex;
    flex-flow: row wrap;

    dt, dd {
        padding: 4px;
    }

    dt {
        flex-basis: 20%;
        background-color: var(--table-bg-color);
        font-weight: bold;
    }

    dd {
        flex-basis: 70%;
        flex-grow: 1;
    }
}

/**
 * Specific to skins.tkte.ch below.
 */

img.preview {
    width: 300px;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
